## 1. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍1

### 1. 출력
* 화면에 "Hello World!"를 출력하세요.

In [1]:
print ("Hello World!")

Hello World!

###  2. 출력
* 화면에 "I don't like C language"를 출력하세요.

In [2]:
print ("I don't like C language")

I don't like C language

###  3. 출력
* print 함수를 사용하여 3.1415의 값을 출력하세요.
  - 단, 소수점 아래는 첫 번째 자리까지만 표시되도록 하세요.

Example <br>
3.1

In [1]:
f = float(3.1415)
print(round(f,1))

3.1

### 4. 형 변환
* 문자열 '720'를 정수형으로 변환하라. 정수 100을 문자열 '100'으로 변환하라.

In [2]:
s = 720
print(int(s))
i = int(100)
print(str(i))

720
100

###  5. 연산
* 2와 4 숫자를 변수에 넣고, 두 변수를 더한 값, 곱한 값, 나눈 값을 출력하세요.

Example <br>
6 <br>
8 <br>
0.5

In [ ]:
num1 = 2
num2 = 4

print (num1 + num2)
print (num1 * num2)
print (num1 / num2)

6
8
0.5

###  6. 연산
* 밑이 6 이고, 지수가 2 일 때 거듭제곱 값을 출력하라.
  - 6의 2승

Example <br>
36

In [4]:
floar = int(6)
over = int(2)
print(floar ** over)

36

###  7.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6

In [5]:
a,b = map(int, input().split())
print(a+b)

2 4
6

###  8. 입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 2 and 4 <br>
OUTPUT: <br>

6 <br>
8 <br>
0.5

In [7]:
a,b = map(int, input().split())
print(a+b)
print(a*b)
print(a/b)

2 4
6
8
0.5

###  9.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

8 <br>
16 <br>
1.0 <br>
1 <br>
0

In [8]:
a,b = map(int, input().split())
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

4 4
8
16
1.0
1
0

### 10.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.

Example<br>
INPUT: 4 and 4 <br>
OUTPUT: <br>

4 + 4 = 8 <br>
4 * 4 = 16 <br>
4 / 4 = 1 <br>
4 // 4 = 1 <br>
4 % 4 = 0 <br>

In [1]:
a,b = map(int, input().split())
print(f'{a} + {b} = {a+b}')
print(f'{a} * {b} = {a*b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} // {b} = {a//b}')
print(f'{a} % {b} = {a%b}')

4 4
4 + 4 = 8
4 * 4 = 16
4 / 4 = 1.0
4 // 4 = 1
4 % 4 = 0

### 11.  입력과 출력
* 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.
  - 단, 나눈 값은 소숫점 첫번째 자리까지만 출력하세요.

Example<br>
INPUT: 5 and 4 <br>
OUTPUT: <br>

5 + 4 = 9 <br>
5 + 4 = 20 <br>
5 / 4 = 1.2 <br>
5 // 4 = 1 <br>
5 % 4 = 1 <br>

In [2]:
a,b = map(int, input().split())
print(f'{a} + {b} = {a+b}')
print(f'{a} * {b} = {a*b}')
print(f'{a} / {b} = {a/b}')
print(f'{a} // {b} = {a//b}')
print(f'{a} % {b} = {a%b}')

5 4
5 + 4 = 9
5 * 4 = 20
5 / 4 = 1.25
5 // 4 = 1
5 % 4 = 1