#딕셔너리 기본 출력

###[실습]1. 딕셔너리의 키와 값을 출력해 보자.

In [ ]:
#지역별 데이터
data = {'서울':[81,0.052,0.4] ,
        '부산':[15,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}
# 딕셔너리의 키와 값을 출력해 보자.


## **딕셔너리 컴프리헨션**
## **딕셔너리 안에 for문을 포함하는 딕셔너리 컴프리헨션(coprehension)**
* ##  딕셔너리 컴프리헨션의 문법   

>###  **{ 키:값 for 항목 in 반복객체 if 조건문 }**

##키 목록을 이용한 딕셔너리 생성  
>## dict.fromkeys(seq, value)  

- 딕셔너리를 생성할 때 편리하게 사용할 수 있는 메소드.

- seq: 생성하려는 dictionary의 키(key)의 목록
- value: 생성하려는 dictionary의 값(value)
사용 예시

```
seq = ('name', 'age', 'gender')
dict_1 = dict.fromkeys(seq)
print(dict_1)
dict_2 = dict.fromkeys(seq, 10)
print(dict_2)
  
####[결과]####
{'age':None, 'name':None, 'gender':None}
{'age':10, 'name':10, 'gender':10}
```
- 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성

###[실습]2. 딕셔너리 컴프리핸션을 사용하여 딕셔너리 키 생성, value를 20로 지정해 보자.

In [ ]:
#딕셔너리 컴프리핸션을 사용하여 딕셔너리 키 생성, value를 20으로 지정
dict2 =

###[실습]3.리스트를 이용하여 딕셔너리를 생성해 보자.

In [ ]:
#키 목록을 이용한 딕셔너리 생성
seq = ['name', 'age', 'gender']


#키목록을 이용한 딕셔너리 생성, 처음 값을 0으로 지정
student = ['st01','st02','st03','st04']

###[실습]4. 딕셔너리 컴프리핸션을 사용하여 아래와 같은 결과가 나오도록 코드를 작성하시오.
```
[출력]
{10: 0, 20: 0, 30: 0, 40: 0}
{10: 'a', 20: 'b', 30: 'c', 40: 'd'}
{'가': None, '나': None, '다': None, '라': None}
{'a': 0, 'b': 0, 'c': 0, 'd': 0}
```

In [ ]:
###딕셔너리 컴프리핸션 실습
# 값을 키로 사용

print(dict1)
#키값 바꾸기

print(dict2)
#키목록을 이용하여 딕셔너리 생성
lst = ['가', '나', '다', '라']

print(dict3)
#키컬렉션을 이용하여 딕셔너리 생성

print(dict4)

###[실습]5. 딕셔너리 컴프리핸션을 이용하여 딕셔너리 값을 변경해 보자.

조건1) 키가 '전학생'인 값을 삭제  
조건2) 값이 70 >= 이상인 값만 저장

In [ ]:
scores = {'철수': 50, '영희': 80, '길동': 90, '순희': 60, '전학생': 100}

#조건1) 키가 '전학생'인 값을 삭제

#조건2) 값이 70 >= 이상인 값만 저장

##함수를 매개변수로 전달하는 **filter함수와 map함수**
 - ### 생성된 map, filter object는 generator라고 부름  

>## map(함수, 리스트)  

- ### 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성  


>## filter(함수, 리스트)

- ### 리스트의 요소를 함수에 넣고 리턴된값이 True인 것으로 새로운 리스트를 구성

###[실습]6. map을 이용해서 리스트를 생성해 보자.

In [ ]:
# map을 이용해 3개의 변수를 입력받아 a,b,c에 저장해 보자.


# map을 이용해, 5개의 변수를 입력받아 정수로 만들고 리스트에 저장해 보자.

###[실습]7. 아래 조건에 맞게 작성하시오.
조건1) map를 이용하고 리스트의 요소를 거듭제곱하는 함수를 작성해 리스트로 출력하시오.  
조건2) filter를 이용하고 리스트의 요소 중 3 보다 작은 값을 추출하는 함수를 작성해 새로운 리스트로 출력하시오.

In [ ]:
lst1 =[1,2,3,4,5]

###[실습]8. 아래 조건에 맞도록 작성하시오.
1) 실습 7번의 함수를 람다함수로 변경해 작성하시오.  
2) 람다함수를 map, filter의 매개변수로 작성하시오.  
3) map을 이용해, 5개의 변수를 입력받아 2로 곱한 후 리스트에 저장하고 출력하시오.

In [ ]:
#실습 7번의 함수를 람다함수로 변경해 작성

[1, 4, 9, 16, 25]
[1, 2]
[1, 2, 3, 4, 5]

In [ ]:
#2) 람다함수를 map, filter의 매개변수로 작성
lst1 =[1,2,3,4,5]


#3) map을 이용해, 5개의 변수를 입력받아 2로 곱한 후 리스트에 저장하고 출력해 보자.

[1, 4, 9, 16, 25]
[1, 2]
[1, 2, 3, 4, 5]
4 5 6 7 8
<map object at 0x7f7c2c66d1e0>
[8, 10, 12, 14, 16]

###[해결]1. 다음 지시대로 코드를 작성하시오.  

 조건1) 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 출력예시와 같이 출력하시오.(단어: 11자리, 의미: 5자리, 외움 :3자리)
 조건2) 값이 ‘X’인 영어단어만 출력하는 코드를 작성하시오.
 [출력]
 ```

    단어      의미  외움
environment: 환경    X
company    : 회사    O
government': 정부    X  
face       : 얼굴    X
```

In [ ]:
#정답코드를 작성하세요.

###[해결]2. 다음 dict_all, dict2, dict3 딕셔너리 변수가 있을 때, dict2와 dict3 두 데이터를 dict_all 딕셔너리 변수에 추가한 후, dict_all 변수를 출력하시오..
```python
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
```

In [ ]:
#정답코드를 작성하세요.

###[해결]3. 다음 actor_info 딕셔너리 변수를 만들고, 홈페이지, 배우 이름, 최근 출연 영화 갯수를 다음과 같이 출력하세요

```python
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}
```

* 출력 예:<br>
배우 이름: 마동석 <br>
홈페이지: https://www.instagram.com/madongseok <br>
출연 영화 갯수: 3 <br>

In [ ]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

#출력코드를 작성하세요.

###[해결]4. number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 number_list1 집합을 만들고, 출력하시오.
```python
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
```

In [ ]:
#정답 작성

###[해결]5.number_set에 다음과 같은 데이터를 순서대로 추가하고, 제거한 후 내용을 출력하시오.
```python
선언: {1, 2, 3}
추가: 4
추가(업데이트): [5, 6]
제거: 2
[출력]
{1, 3, 4, 5, 6}

```

In [ ]:
# 정답 작성